In [1]:
import re
import emoji
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
from cleanlab import Datalab
from datasets import Dataset, DatasetDict
from sentence_transformers import SentenceTransformer

In [2]:
from sklearnex import patch_sklearn

patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import train_test_split

In [4]:
# import fasttext

# encoder = fasttext.load_model("./models/cc.ar.300.bin")

In [5]:
import torch

device = f"cuda:{torch.cuda.current_device()}" if torch.cuda.is_available() else "cpu"
encoder = SentenceTransformer("UBC-NLP/MARBERT", device=device)

No sentence-transformers model found with name C:\Users\ehhho/.cache\torch\sentence_transformers\UBC-NLP_MARBERT. Creating a new one with MEAN pooling.

In [6]:
seed = 42
clean_data_path = "./data/irony_clean_data"
processed_data_path = "./data/irony_processed_data"
train_data_path = "./data/irony_training_data.csv"
test_data_path = "./data/irony_testing_data.csv"

In [7]:
train_data = pd.read_csv(train_data_path)[["tweet", "sarcasm"]]
train_data["sarcasm"] = train_data.sarcasm.astype(int)
train_data.head()

                                               tweet  sarcasm
0  "Ø¯. #Ù…Ø­Ù…ÙˆØ¯_Ø§Ù„Ø¹Ù„Ø§ÙŠÙ„ÙŠ:Ø£Ø±Ù‰ Ø£Ù† Ø§Ù„ÙØ±ÙŠÙ‚ #Ø£Ø­Ù…Ø¯_Ø´ÙÙŠÙ‚ Ø±...        0
1  "Ù…Ø¹ ÙÙŠØ¯Ø±Ø± ÙŠØ§ Ø¢Ø¬Ø§ ÙˆØ§Ù„ÙƒØ¨Ø§Ø± ğŸ˜ https://t.co/hrBeHb...        0
2  â€œØ§Ù„Ø¯Ø§Ø¹ÙˆÙ† Ù„Ù…Ø¨Ø¯Ø£ Ø§Ù„Ø§Ø®ØªÙ„Ø§Ø· Ø¨ÙŠÙ† Ø§Ù„Ø¬Ù†Ø³ÙŠÙ†Ø› ÙƒØ§Ù„Ø¯Ø§Ø¹ÙŠÙ† ...        1
3  "@ihe_94 @ya78m @amooo5 @badiajnikhar @Oukasaf...        1
4  "Ù‚Ù„ Ø´Ø±Ù‚ Ø­Ù„Ø¨ ÙˆÙ„Ø§ ØªÙ‚Ù„ Ø­Ù„Ø¨ Ø§Ù„Ø´Ø±Ù‚ÙŠØ© ....ÙˆÙ‚Ù„ ØºØ±Ø¨ Ø­Ù„...        0

In [8]:
test_data = pd.read_csv(test_data_path)[["tweet", "sarcasm"]]
test_data["sarcasm"] = test_data.sarcasm.astype(int)
test_data.head()

                                               tweet  sarcasm
0  Ø§Ø®ÙˆÙŠ Ø­Ø§Ù†Ù‚ ÙŠØ§Ù„ØºÙ„Ø§ ÙˆØ´ÙÙŠÙƒ Ù…Ø¹ØµØ¨ØŸ Ø¹Ø§Ø¯ÙŠ ØªØ±Ø§Ù‡Ù… Ø¨Ø´Ø± ÙŠÙ...        0
1     Ø§Ù Ù…Ùˆ Ù…ØªØ¹ÙˆØ¯Ù‡ Ø¹Ù„ÙŠÙ‡Ù… Ø³ØªÙ‡ https://t.co/8igFPx1i26        1
2            Ø§Ù„Ù„Ù‡Ù… Ø§Ø´ÙÙ Ù…Ø±Ø¶Ø§Ù†Ø§ ÙˆÙ…Ø±Ø¶Ù‰ Ø§Ù„Ù…Ø³Ù„Ù…ÙŠÙ† . . â™¥ï¸        0
3                               Ø§Ø¨Ø´Ø±ÙƒÙ… Ø·Ù„Ù‚Øª Ø§Ù„Ø³Ø§Øª ğŸ˜˜.        0
4  Ù…Ø¤Ø´Ø± Ø®Ø·ÙŠØ±: Ù©Ù Ùª Ù…Ù† Ø§Ù„Ø´Ø®ØµÙŠØ§Øª Ø§Ù„Ø¨Ø±Ù„Ù…Ø§Ù†ÙŠØ© ÙÙŠ Ø§Ù„ÙƒÙˆÙŠ...        1

In [9]:
data = pd.concat([train_data, test_data], ignore_index=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15548 entries, 0 to 15547
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   tweet    15548 non-null  object
 1   sarcasm  15548 non-null  int32
dtypes: int32(1), object(1)
memory usage: 182.3+ KB

In [10]:
# dataset = DatasetDict(
#     {
#         "train": Dataset.from_pandas(train_data),
#         "test": Dataset.from_pandas(test_data),
#     }
# )

# dataset

In [11]:
dataset = Dataset.from_pandas(data)

dataset

Dataset({
    features: ['tweet', 'sarcasm'],
    num_rows: 15548
})

In [12]:
def clean_text(text):
    clean_text = re.sub(r"http\S+|t\.co/\S+", "", text)
    clean_text = re.sub(r"@\w+", "", clean_text)
    clean_text = re.sub(r"#", "", clean_text)
    clean_text = re.sub(r"_", " ", clean_text)
    # tashqeel - from @bakriano
    clean_text = re.sub(r"[\u0617-\u061A\u064B-\u0652]", "", clean_text)
    clean_text = emoji.replace_emoji(clean_text, replace="")
    clean_text = re.sub(r"\s+", " ", clean_text)
    return clean_text.replace("RT :", "").strip()

In [13]:
dataset = dataset.rename_column("sarcasm", "labels")
clean_data = dataset.map(
    lambda x: {"text": [clean_text(t) for t in x["tweet"]]},
    batched=True,
    remove_columns=["tweet"],
)

clean_data

Map:   0%|          | 0/15548 [00:00<?, ? examples/s]

Dataset({
    features: ['labels', 'text'],
    num_rows: 15548
})

In [14]:
clean_data.save_to_disk(processed_data_path)

Saving the dataset (0/1 shards):   0%|          | 0/15548 [00:00<?, ? examples/s]

In [15]:
def vectorize(batch):
    # return {"features": [encoder.get_sentence_vector(t) for t in batch["text"]]}
    return {
        "features": encoder.encode(batch["text"], convert_to_numpy=True, device=device)
    }

In [16]:
encoded_data = clean_data.map(vectorize, batched=True)

Map:   0%|          | 0/15548 [00:00<?, ? examples/s]

In [108]:
w = encoded_data.to_pandas().labels.value_counts(normalize=True).to_list()
w = {i: w[i] for i in range(len(w))}
w

{0: 0.884174692793092, 1: 0.11582530720690801}

In [109]:
train_params = {"penalty": "l1", "solver": "liblinear", "C": 1000.0}

In [110]:
model = LogisticRegression(
    class_weight=w, random_state=seed, max_iter=int(1e5), verbose=1, **train_params
)
pred_probs = cross_val_predict(
    estimator=model,
    X=encoded_data[:]["features"],
    y=encoded_data[:]["labels"],
    cv=10,
    method="predict_proba",
)

[LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear]

In [111]:
data = encoded_data.to_dict()

In [112]:
lab = Datalab(data, label_name="labels")
lab.find_issues(pred_probs=pred_probs, features=np.array(data["features"]))

Finding label issues ...
Finding outlier issues ...
Fitting OOD estimator based on provided features ...
Finding near_duplicate issues ...
Audit complete. 579 issues found in the dataset.

In [113]:
lab.report()

Here is a summary of the different kinds of issues found in the data:

    issue_type  num_issues
near_duplicate         572
         label           5
       outlier           2

Dataset Information: num_examples: 12044, num_classes: 2


------------------ near_duplicate issues -------------------

About this issue:
	A (near) duplicate issue refers to two or more examples in
    a dataset that are extremely similar to each other, relative
    to the rest of the dataset.  The examples flagged with this issue
    may be exactly duplicated, or lie atypically close together when
    represented as vectors (i.e. feature embeddings).


Number of examples with this issue: 572
Overall dataset quality in terms of this issue: 0.0030

Examples representing most severe instances of this issue:
      is_near_duplicate_issue  near_duplicate_score                                          near_duplicate_sets  distance_to_nearest_neighbor
7117                     True                   0.0  [4568, 3546, 105, 4843, 7422, 8897, 1903, 5267, 5115, 4124]                           0.0
1191                     True                   0.0   [8531, 9903, 7733, 3635, 8696, 3302, 713, 6219, 313, 6932]                           0.0
4245                     True                   0.0  [604, 4843, 2087, 1646, 9968, 1442, 6632, 4641, 4568, 7117]                           0.0
7976                     True                   0.0    [4369, 3495, 440, 2956, 829, 8152, 6932, 318, 5130, 4066]                           0.0
4369                     True                   0.0    [7976, 3495, 440, 2956, 829, 8152, 6932, 318, 5130, 4066]                           0.0


----------------------- label issues -----------------------

About this issue:
	Examples whose given label is estimated to be potentially incorrect
    (e.g. due to annotation error) are flagged as having label issues.


Number of examples with this issue: 5
Overall dataset quality in terms of this issue: 0.9996

Examples representing most severe instances of this issue:
       is_label_issue  label_score  given_label  predicted_label
11177            True     0.000719            1                0
6469            False     0.006437            1                0
11806           False     0.007336            1                0
10368           False     0.007889            1                0
5473            False     0.007919            1                0


---------------------- outlier issues ----------------------

About this issue:
	Examples that are very different from the rest of the dataset
    (i.e. potentially out-of-distribution or rare/anomalous instances).


Number of examples with this issue: 2
Overall dataset quality in terms of this issue: 0.9963

Examples representing most severe instances of this issue:
       is_outlier_issue  outlier_score
2759               True       0.993659
8484               True       0.993660
4250              False       0.993663
9869              False       0.993666
11134             False       0.993668

In [114]:
issues = lab.get_issues()

In [115]:
issues.head()

,is_label_issue,label_score,is_outlier_issue,outlier_score,is_near_duplicate_issue,near_duplicate_score
0,False,1.000000,False,0.997248,False,0.002209
1,False,1.000000,False,0.996134,False,0.000612
2,False,1.000000,False,0.995298,False,0.004305
3,False,1.000000,False,0.995170,False,0.003874
4,False,0.998774,False,0.995505,False,0.004138

In [116]:
issues_flag = np.any(issues[["is_label_issue", "is_outlier_issue"]], axis=1).to_list()

In [117]:
encoded_data = encoded_data.add_column("is_issued", issues_flag)
encoded_data

Flattening the indices:   0%|          | 0/12044 [00:00<?, ? examples/s]

Dataset({
    features: ['labels', 'text', 'features', 'is_issued'],
    num_rows: 12044
})

In [118]:
encoded_data = encoded_data.filter(lambda x: not x["is_issued"])

Filter:   0%|          | 0/12044 [00:00<?, ? examples/s]

In [119]:
encoded_data = encoded_data.remove_columns("is_issued")

In [120]:
encoded_data

Dataset({
    features: ['labels', 'text', 'features'],
    num_rows: 12037
})

In [121]:
encoded_data = encoded_data.remove_columns("features")

In [122]:
encoded_data

Dataset({
    features: ['labels', 'text'],
    num_rows: 12037
})

In [123]:
encoded_data.save_to_disk(clean_data_path)

Saving the dataset (0/1 shards):   0%|          | 0/12037 [00:00<?, ? examples/s]